GEMINI_API_KEY=AQ.Ab8RN6JEdOssDmOkb6F427X7NB89DULNFu9yyyAwUFx6x8cFEQ
ELEVENLABS_API_KEY=your_elevenlabs_api_key_goes_here
SOLANA_RPC_URL=your_devnet_rpc_node_endpoint
SNOWFLAKE_ACCOUNT=your_snowflake_identifier
